/* General CSS Properties */
body,
html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f1e8c0 0%, #d1a566 100%);
}

.cursor-follower {
    position: fixed;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgba(181, 180, 179, 0.5);
    mix-blend-mode: multiply;
    z-index: 9999;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
    opacity: 0;
}

.text {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.blurry-ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 247, 227, 0.6);
    border-radius: 50%;
    filter: blur(8px);
    z-index: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 5px rgba(255, 250, 236, 0.4);
}

.mainContent {
    position: relative;
}

/* Landing Home Page CSS Properties */
.homeContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navContainer-scrolled {
    background-color: #29282D;
}

#name {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 2em;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navLinks a {
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navLinks a:hover {
    color: #FFD700;
}

#goldenVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sun {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    z-index: 2;
    box-shadow: 0 0 30px 20px rgb(255, 208, 0);
}

#mainTitle {
    text-align: center;
    margin: 0px;
    padding: 5px;
    width: 1000px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
    z-index: 3;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

#watchFilmBtn{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    font-weight: 500;
}

#watchFilBtn:hover {
    color: #FFD700;
}

/* About Section CSS Properties */
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#aboutTitle {
    margin: 20px;
    text-align: center;
    left: 50%;
    font-size: 2em;
    z-index: 3;
}

.aboutSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.aboutDescription {
    flex-basis: 50%;
    padding-right: 5px;
    z-index: 3;
}

.aboutDescription li {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

.aboutImage {
    flex-basis: 30%;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

/* Video Section CSS Properties */
.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#videoTitle {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    z-index: 3;
}

.videoContainer iframe {
    width: 50vw;
    height: 50vw;
    max-width: 100%;
    max-height: 56.25vh;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 75px;
    z-index: 3;
}

.imageContainer {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

/* Gallery Section CSS Properties */
#galleryTitle {
    margin: 20px;
    font-size: 2em;
    text-align: center;
}

.swiper-slide img {
    max-width: 80%;
    max-height: 500px;
    object-fit: contain;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: rgb(192, 66, 3) !important;
    z-index: 6 !important;
}

.mySwiper .swiper-pagination-bullet {
    background-color: rgb(192, 66, 3) !important;
}

/* Contact Section CSS Properties */
.contactContainer {
    position: relative;
    z-index: 10;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFF9F0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#contactTitle {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    z-index: 3;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formGroup textarea {
    resize: vertical;
}

#sendButton {
    display: block;
    width: 100%;
    background-color: #DAA520;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#sendButton:hover {
    background-color: #C9961E;
}