body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}

.homeContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#mainTitle,
.buttonContainer {
    position: absolute;
    z-index: 4;
}

#mainTitle {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
}

.buttonContainer {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#goldenVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#hills {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#sun {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    z-index: 2;
    box-shadow: 0 0 50px 35px orange;
}

#river {
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}